.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#highlighted {
  background-color: yellow;
  display: inline;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.app-wrapper {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right top, #13366b, white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  h1 {
    color: #2c2c2c;
  }
  .cards-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 23px;
    .editor-parent {
      position: relative;
    }
    .html-wrapper {
      min-height: 400px;
      height: 400px;
      overflow: auto;
      width: 300px;
      margin-bottom: 15px;
      background: #eeeeee;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
      border-radius: 20px;
      padding: 20px;
      outline: none;
      color: #545454;
    }
  }
}

.App-link {
  color: #61dafb;
}

.search-btn,
.markdown-btn {
  border: none;
  outline: none;
  background-color: #2c2c2c;
  border-radius: 20px;
  padding: 10px 5px;
  color: white;
  width: 100px;
  margin: 20px 0px 20px 0px;
  float: right;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    background-color: #000000;
  }
}

.markdown-btn {
  width: 200px;
  margin: 20px;
}

.keywords {
  margin: 20px 0px;
}

.quill-popup-toolbar {
  position: absolute;
  z-index: 10;
  border-radius: 25px;
  padding: 2px 15px;
  background-color: #2c2c2c;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10;
  height: 40px;
  opacity: 0;
  transition: 0.2s;
  visibility: hidden;
  &.showToolbar {
    opacity: 1;
    transform: translateY(10px);
    visibility: visible;
  }

  button {
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    &:hover {
      color: #649de2;
    }
  }
}
.add-image-btn {
  transition: 0.2s;
  margin-bottom: -50px;
  margin-right: 20px;
  margin-left: auto;
  z-index: 100;
  position: relative;
  background-color: #2c2c2c;
  padding: 5px 15px;
  width: fit-content;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 14px;
}

.ql-toolbar {
  // display: none;
  background-color: #2c2c2c;
  border: none !important;
  padding: 8px;
  width: fit-content;
  border-radius: 25px;
  margin-bottom: 10px;
}

.ql-toolbar button {
  color: #666565 !important;
  margin-right: 10px;
  margin: 0px 10px;
}

.ql-toolbar button:hover {
  color: #cccccc;
}

/* Customize icons if needed */
.ql-toolbar button svg {
  width: 18px;
  height: 18px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
